*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #FF4600;
}

img {
  max-width: 100%;
  display: block;
  object-fit: contain;
}

@font-face {
  font-family: "Russo";
  src: url("./../assets/fonts/Russo_One.ttf") format(truetype);
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("./../assets/fonts/Rubik-Regular.ttf") format(truetype);
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("./../assets/fonts/Rubik-Bold.ttf") format(truetype);
  font-display: swap;
}
.primary-title {
  font-size: 48px;
}

@media screen and (max-width: 768px) {
  .primary-title {
    font-size: 20px;
  }
  .secondary-title {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
    text-transform: none;
  }
  p,
  li {
    text-transform: none;
  }
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: "Rubick", "Arial", sans-serif;
  background: linear-gradient(rgb(7, 6, 6), rgb(8, 5, 26));
  text-transform: uppercase;
  color: white;
  font-weight: 400;
}
body::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./../assets/images/bg-header.svg");
  filter: drop-shadow(2px 4px 6px black);
}
body.overflow {
  overflow: hidden;
}

p {
  font-family: "Russo", "Arial", sans-serif;
}

.list-style-none {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  padding: 20px 0;
}
.header__intro {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .header__intro {
    gap: 20px;
    background-color: #042247;
    min-height: 100vh;
    padding: 10px;
    text-align: center;
    align-content: center;
    justify-content: center;
    display: none;
  }
  .header__intro.active {
    display: grid;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .header__intro .logo img {
    display: none;
  }
  .header__intro nav {
    background-color: transparent;
    box-shadow: none;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 0;
  }
  .header__intro nav ul {
    display: grid;
  }
  .header__intro nav ul li a {
    color: white;
    font-size: 16px;
    font-weight: 700;
  }
}
.header__intro .logo {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 20px;
}
.header__intro a.add-text {
  color: white;
  text-decoration: none;
}
.header__intro .add-text {
  font-size: 12px;
}
@media screen and (min-width: 1440px) {
  .header__intro .add-text {
    font-size: 20px;
  }
}
.header__inner {
  display: none;
}
@media screen and (max-width: 768px) {
  .header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__inner a.tel {
    display: flex !important;
  }
}
@media screen and (max-width: 768px) {
  .header__menu-btn {
    position: relative;
    z-index: 2;
    background: transparent;
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  .header__menu-btn.active {
    top: -20px;
    left: -20px;
  }
  .header__menu-btn::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 10px;
    width: 30px;
    height: 2px;
    background-color: white;
    box-shadow: 0 -10px 0px 0 white, 0 10px 0px 0 white;
  }
  .header__menu-btn.active::after, .header__menu-btn.active::before {
    background-color: white;
    box-shadow: none;
  }
  .header__menu-btn.active::before {
    transform: rotate(45deg);
  }
  .header__menu-btn.active::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 10px;
    width: 30px;
    height: 2px;
    transform: rotate(-45deg);
  }
}
.header a.tel {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .header a.tel {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .header a.tel {
    font-size: 48px;
  }
}

.nav {
  background-color: white;
  padding: 10px;
  border-radius: 50px;
  max-width: min-content;
  margin: 0 auto;
}
.nav__list {
  display: flex;
  padding: 10px;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
}
.nav__item a {
  text-transform: none;
  font-size: 12px;
  color: black;
  text-decoration: none;
}
@media screen and (min-width: 1440px) {
  .nav__item a {
    font-size: 20px;
  }
}

.intro {
  padding: 60px 0;
  border-bottom: 1px solid white;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  position: relative;
}
.intro::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 150px;
  background-color: white;
  clip-path: polygon(0 35%, 100% 0, 100% 100%, 0% 100%);
  bottom: -90px;
}
.intro__inner {
  display: grid;
  align-content: center;
  justify-content: center;
}
.intro__inner .value-button {
  background: none;
  border: none;
  outline: none;
  background-color: #FF4600;
  padding: 20px;
  border-radius: 50px;
  border: 1px solid white;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  max-width: 50%;
  justify-self: flex-end;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .intro__inner .value-button {
    max-width: 100%;
    justify-self: auto;
    text-align: center;
  }
}
.intro__inner .value-button:hover {
  background-color: white;
  border: 1px solid #FF4600;
  color: #FF4600;
}
.intro .secondary-title {
  font-weight: 400;
  max-width: 100%;
  text-transform: none;
}
.intro .secondary-title p {
  margin: 0;
  opacity: 0.7;
  font-size: 18px;
  text-align: right;
}
.intro .primary-title {
  text-align: center;
  color: #FF4600;
  margin: 0 auto;
  margin-bottom: 50px;
}

.advantages {
  padding: 60px 0;
  border-bottom: 1px solid white;
  clip-path: polygon(0% 0%, 100% 18%, 100% 83%, 0% 97%);
  position: relative;
}
@media screen and (max-width: 768px) {
  .advantages {
    clip-path: polygon(0% 0%, 100% 18%, 100% 87%, 0% 97%);
  }
}
.advantages::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 150px;
  background-color: white;
  clip-path: polygon(0 35%, 100% 0, 100% 100%, 0% 100%);
  bottom: -90px;
}
.advantages ul {
  display: grid;
  gap: 10px;
  text-transform: none;
}
.advantages .secondary-title {
  color: #FF4600;
}

.prices {
  padding: 60px 0;
  border-bottom: 1px solid white;
  clip-path: polygon(0% 0%, 100% 18%, 100% 83%, 0% 97%);
  position: relative;
}
@media screen and (max-width: 768px) {
  .prices {
    clip-path: polygon(0% 0%, 100% 18%, 100% 87%, 0% 97%);
  }
}
.prices::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 150px;
  background-color: white;
  clip-path: polygon(0 59%, 100% 0, 100% 100%, 0% 100%);
  bottom: -35px;
}
.prices .secondary-title {
  color: #FF4600;
}
.prices .base-text {
  text-transform: none;
}
.prices__link {
  color: #FF4600;
  text-decoration: none;
  background: linear-gradient(rgb(34, 34, 34), rgb(4, 0, 27));
  padding: 10px;
  border-radius: 50px;
  font-weight: 700;
}

.tarifs {
  padding: 60px 0;
  border-bottom: 1px solid white;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  position: relative;
}
.tarifs::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 150px;
  background-color: white;
  clip-path: polygon(0 14%, 100% 0, 100% 58%, 0% 58%);
  bottom: -126px;
}
.tarifs .secondary-title {
  color: #FF4600;
}
.tarifs .base-text {
  text-transform: none;
}
.tarifs .tabs {
  gap: 20px;
  display: flex;
}
@media screen and (max-width: 768px) {
  .tarifs .tabs {
    display: grid;
  }
}
.tarifs__list-inner li {
  text-transform: none;
}
.tarifs__tabs {
  border-right: 1px solid white;
  width: min-content;
  padding-right: 20px;
}
@media screen and (max-width: 768px) {
  .tarifs__tabs {
    display: grid;
    gap: 10px;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    padding-right: 0;
    padding-bottom: 20px;
    border-right: none;
    border-bottom: 1px solid white;
  }
}
.tarifs__tabs li {
  border-radius: 15px;
  width: max-content;
  height: 50px;
}
@media screen and (max-width: 768px) {
  .tarifs__tabs li {
    width: 100%;
  }
}
.tarifs__tabs li a {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 10px 10px 30px 10px;
  color: #FF4600;
  text-decoration: none;
  background: linear-gradient(rgb(34, 34, 34), rgb(4, 0, 27));
  padding: 10px;
  border-radius: 50px;
  font-weight: 700;
  cursor: pointer;
}
.tarifs__tabs li.active {
  border: 1px solid #FF4600;
  box-shadow: 0px 0px 10px 4px #FF4600;
  position: relative;
  z-index: 2;
}
.tarifs__list {
  display: grid;
  gap: 20px;
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.tarifs__list-item {
  background: linear-gradient(rgb(34, 34, 34), rgb(4, 0, 27));
  padding: 10px 10px 30px 10px;
  border-radius: 15px;
  border: 1px solid #FF4600;
  box-shadow: 0px 0px 10px 4px #FF4600;
  position: absolute;
  z-index: -1;
  opacity: 0;
  top: 0;
  right: 0;
  width: 100%;
  transition: 0.3s ease-in-out;
}
.tarifs__list-item.active {
  display: grid;
  position: static;
  z-index: 0;
  opacity: 1;
}
.tarifs__list-item:nth-of-type(2) {
  background: linear-gradient(rgb(34, 34, 34), rgb(4, 0, 27));
}
.tarifs__list-item:nth-of-type(3) {
  background: linear-gradient(rgb(34, 34, 34), rgb(4, 0, 27));
}
.tarifs__list-item:last-of-type {
  background: linear-gradient(rgb(34, 34, 34), rgb(4, 0, 27));
  color: white;
}

.about {
  background-color: black;
  padding: 60px 0;
  border-bottom: 1px solid white;
}
.about__wrapper {
  display: grid;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .about__wrapper {
    display: flex;
  }
}
.about__text {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .about__text {
    max-width: 50%;
  }
}
.about__text .base-text {
  text-transform: none;
}
.about .about-second {
  display: grid;
  align-items: stretch;
}
.about__advantages {
  color: #FF4600;
  font-weight: 700;
  display: grid;
  gap: 10px;
  align-content: center;
}
.about .blockquote {
  margin: 0;
  padding: 5px;
}

.reasons {
  padding: 60px 0;
  border-bottom: 1px solid white;
}
.reasons .secondary-title {
  color: #FF4600;
}
.reasons__list {
  display: grid;
  gap: 10px;
}
.reasons__wrapper {
  display: grid;
  justify-content: center;
}

.cost-form {
  display: flex;
  flex-direction: column;
}

.form-slide {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: linear-gradient(rgb(34, 34, 34), rgb(4, 0, 27));
  border-radius: 20px;
  box-shadow: 0px 0px 10px 4px #ff4600;
}
.form-slide h3 {
  color: #ff4600;
  margin: 0;
  margin-bottom: 10px;
}
.form-slide .chooses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 12px;
  gap: 20px;
}
@media screen and (min-width: 1024px) {
  .form-slide {
    padding: 20px;
  }
}

.choose-label {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
  min-width: 120px;
  box-shadow: 0px 0px 10px 4px #cdcdcd;
  text-align: center;
  border-radius: 5px;
}
.choose-label input {
  top: 0;
  left: 0;
  position: absolute;
  appearance: none;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
}
.choose-label input:hover, .choose-label input:focus {
  box-shadow: 0px 0px 10px 4px #ff4600;
}
.choose-label input:checked {
  box-shadow: 0px 0px 10px 4px #ff4600;
  z-index: 10;
}

.rangebar-container {
  justify-content: center;
  align-items: center;
}

.rangebar-label {
  flex-grow: 1;
}
.rangebar-label input {
  width: 100%;
}
.rangebar-label input:hover, .rangebar-label input:focus {
  box-shadow: 0px 0px 10px 4px #ff4600;
}
.rangebar-label input:active {
  box-shadow: 0px 0px 10px 4px #ff4600;
}

.rangebar-cost {
  box-shadow: 0px 0px 10px 4px #cdcdcd;
  border: none;
}
.rangebar-cost input {
  padding: 10px;
  max-width: 150px;
}
.rangebar-cost:hover, .rangebar-cost:focus {
  box-shadow: 0px 0px 10px 4px #ff4600;
}
.rangebar-cost:active {
  box-shadow: 0px 0px 10px 4px #ff4600;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 12px;
  gap: 20px;
  flex-direction: column;
}