@charset "UTF-8";
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #FF4600;
}

img {
  max-width: 100%;
  display: block;
  object-fit: contain;
}

@font-face {
  font-family: "Russo";
  src: url("./../assets/fonts/Russo_One.ttf") format(truetype);
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("./../assets/fonts/Rubik-Regular.ttf") format(truetype);
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("./../assets/fonts/Rubik-Bold.ttf") format(truetype);
  font-display: swap;
}
.primary-title {
  font-size: 48px;
}

@media screen and (max-width: 768px) {
  .primary-title {
    font-size: 20px;
  }
  .secondary-title {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
    text-transform: none;
  }
  p,
  li {
    text-transform: none;
  }
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Rubick", "Arial", sans-serif;
  background: linear-gradient(rgb(7, 6, 6), rgb(8, 5, 26));
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  overflow-x: hidden;
}
body::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./../assets/images/bg-header.svg");
  filter: drop-shadow(2px 4px 6px black);
}
body.overflow {
  overflow: hidden;
}

main {
  flex-grow: 1;
}

p {
  font-family: "Russo", "Arial", sans-serif;
}

.list-style-none {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

#password-hash {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer {
  padding: 20px 0;
  position: relative;
  min-height: 300px;
}
.footer::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: -2;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./../assets/images/bg-footer.svg");
  filter: drop-shadow(2px 4px 6px black);
}
.footer__wrapper {
  display: grid;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}
.footer__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .footer__inner {
    display: grid;
  }
}
.footer__contacts p {
  color: #FF4600;
}
.footer__contacts a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}
.footer__messangers p:first-of-type {
  color: #FF4600;
}
.footer__messangers a {
  display: block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: calc(100% - 10px);
  background-color: linear-gradient(rgb(10, 10, 10), rgb(4, 0, 27));
  background-position: center;
  padding: 10px;
  border-radius: 50%;
}
.footer__messangers a.telegram-icon {
  background-image: url("./../../assets/images/telegram.svg");
}
.footer__messangers a.whatsapp-icon {
  background-image: url("./../../assets/images/whatsapp.svg");
}
.footer__date p:first-of-type {
  color: #FF4600;
}
.footer__rights {
  max-width: 80%;
  margin: 0 auto;
}
.footer__rights p {
  opacity: 0.6;
  font-family: "Rubick", "Arial", sans-serif;
  text-transform: none;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .footer__rights p {
    font-size: 12px;
  }
}
.footer__links {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .footer__links {
    justify-content: flex-start;
  }
}

.header {
  padding: 20px 0;
}
.header__intro {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .header__intro {
    gap: 20px;
    background-color: #1a1919;
    min-height: 100vh;
    padding: 10px;
    text-align: center;
    align-content: center;
    justify-content: center;
    display: none;
  }
  .header__intro.active {
    display: grid;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .header__intro .logo img {
    display: none;
  }
  .header__intro nav {
    background-color: transparent;
    box-shadow: none;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 0;
  }
  .header__intro nav ul {
    display: grid;
  }
  .header__intro nav ul li a {
    color: white;
    font-size: 16px;
    font-weight: 700;
  }
}
.header__intro .logo {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 20px;
}
.header__intro a.add-text {
  color: white;
  text-decoration: none;
}
.header__intro .add-text {
  font-size: 12px;
}
@media screen and (min-width: 1440px) {
  .header__intro .add-text {
    font-size: 20px;
  }
}
.header__inner {
  display: none;
}
@media screen and (max-width: 768px) {
  .header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__inner a.tel {
    display: flex !important;
  }
}
@media screen and (max-width: 768px) {
  .header__menu-btn {
    position: relative;
    z-index: 2;
    background: transparent;
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  .header__menu-btn.active {
    top: -20px;
    left: -20px;
  }
  .header__menu-btn::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 10px;
    width: 30px;
    height: 2px;
    background-color: white;
    box-shadow: 0 -10px 0px 0 white, 0 10px 0px 0 white;
  }
  .header__menu-btn.active::after, .header__menu-btn.active::before {
    background-color: white;
    box-shadow: none;
  }
  .header__menu-btn.active::before {
    transform: rotate(45deg);
  }
  .header__menu-btn.active::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 10px;
    width: 30px;
    height: 2px;
    transform: rotate(-45deg);
  }
}
.header a.tel {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .header a.tel {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .header a.tel {
    font-size: 48px;
  }
}

.nav {
  background-color: white;
  padding: 10px;
  border-radius: 50px;
  max-width: min-content;
  margin: 0 auto;
}
.nav__list {
  display: flex;
  padding: 10px;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
}
.nav__item a {
  text-transform: none;
  font-size: 12px;
  color: black;
  text-decoration: none;
}
@media screen and (min-width: 1440px) {
  .nav__item a {
    font-size: 20px;
  }
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  z-index: 23;
  min-height: 300px;
  background-color: rgb(28, 26, 26);
  justify-content: center;
  text-align: center;
  align-items: center;
}
.popup.active {
  display: flex;
}
.popup h3 {
  color: #FF4600;
}

.intro {
  padding: 60px 0;
  border-bottom: 1px solid white;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  position: relative;
}
.intro::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 150px;
  background-color: white;
  clip-path: polygon(0 35%, 100% 0, 100% 100%, 0% 100%);
  bottom: -90px;
}
.intro__inner {
  display: grid;
  align-content: center;
  justify-content: center;
}
.intro__inner .value-button {
  background: none;
  border: none;
  outline: none;
  background-color: #FF4600;
  padding: 20px;
  border-radius: 50px;
  border: 1px solid white;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  max-width: 50%;
  justify-self: flex-end;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  animation: pulse 6s infinite;
}
@media screen and (max-width: 768px) {
  .intro__inner .value-button {
    max-width: 100%;
    justify-self: auto;
    text-align: center;
  }
}
.intro__inner .value-button:hover {
  background-color: white;
  border: 1px solid #FF4600;
  color: #FF4600;
}
.intro .secondary-title {
  font-weight: 400;
  max-width: 100%;
  text-transform: none;
}
.intro .secondary-title p {
  margin: 0;
  opacity: 0.7;
  font-size: 18px;
  text-align: right;
}
.intro .primary-title {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  color: #FF4600;
  padding: 0 20px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.intro .primary-title span {
  opacity: 0;
  transform: scale(0);
  animation: fadeIn 2.4s forwards;
}
.intro .primary-title::before, .intro .primary-title::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  width: 2px;
  height: 100%;
  background-color: white;
  opacity: 0;
  transform: scale(0);
}
.intro .primary-title::before {
  left: 50%;
  animation: slideLeft 1.5s cubic-bezier(0.7, -0.6, 0.3, 1.5) forwards;
}
.intro .primary-title::after {
  right: 50%;
  animation: slideRight 1.5s cubic-bezier(0.7, -0.6, 0.3, 1.5) forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes slideLeft {
  to {
    left: -6%;
    opacity: 1;
    transform: scale(0.9);
  }
}
@keyframes slideRight {
  to {
    right: -6%;
    opacity: 1;
    transform: scale(0.9);
  }
}
@keyframes pulse {
  0% {
    background-color: #FF4600;
    border: 1px solid white;
    color: white;
  }
  50% {
    background-color: white;
    border: 1px solid #FF4600;
    color: #FF4600;
  }
  100% {
    background-color: #FF4600;
    border: 1px solid white;
    color: white;
  }
}
.advantages {
  padding: 60px 0;
  border-bottom: 1px solid white;
  clip-path: polygon(0% 0%, 100% 18%, 100% 83%, 0% 97%);
  position: relative;
}
@media screen and (max-width: 768px) {
  .advantages {
    clip-path: polygon(0% 0%, 100% 18%, 100% 87%, 0% 97%);
  }
}
.advantages::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 150px;
  background-color: white;
  clip-path: polygon(0 35%, 100% 0, 100% 100%, 0% 100%);
  bottom: -90px;
}
.advantages ul {
  display: grid;
  gap: 10px;
  text-transform: none;
}
.advantages .secondary-title {
  color: #FF4600;
}

.prices {
  padding: 60px 0;
  border-bottom: 1px solid white;
  clip-path: polygon(0% 0%, 100% 18%, 100% 83%, 0% 97%);
  position: relative;
}
.prices::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 150px;
  background-color: white;
  clip-path: polygon(0 59%, 100% 0, 100% 100%, 0% 100%);
  bottom: -35px;
}
@media screen and (max-width: 768px) {
  .prices {
    clip-path: polygon(0% 0%, 100% 0%, 100% 93%, 0% 100%);
  }
  .prices::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 150px;
    background-color: white;
    clip-path: polygon(-30% 50%, 100% 0, 100% 100%, 0% 100%);
    bottom: -85px;
  }
}
.prices .secondary-title {
  color: #FF4600;
}
.prices .base-text {
  text-transform: none;
}
.prices__link {
  color: #FF4600;
  text-decoration: none;
  background: linear-gradient(rgb(34, 34, 34), rgb(4, 0, 27));
  padding: 10px;
  border-radius: 50px;
  font-weight: 700;
}

.tarifs {
  padding: 60px 0;
  border-bottom: 1px solid white;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  position: relative;
}
.tarifs::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 150px;
  background-color: white;
  clip-path: polygon(0 14%, 100% 0, 100% 58%, 0% 58%);
  bottom: -126px;
}
.tarifs .secondary-title {
  color: #FF4600;
}
.tarifs .base-text {
  text-transform: none;
}
.tarifs .tabs {
  gap: 20px;
  display: flex;
}
@media screen and (max-width: 768px) {
  .tarifs .tabs {
    display: grid;
  }
}
.tarifs__list-inner li {
  text-transform: none;
}
.tarifs__tabs {
  border-right: 1px solid white;
  width: min-content;
  padding-right: 20px;
}
@media screen and (max-width: 768px) {
  .tarifs__tabs {
    display: grid;
    gap: 10px;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    padding-right: 0;
    padding-bottom: 20px;
    border-right: none;
    border-bottom: 1px solid white;
  }
}
.tarifs__tabs li {
  border-radius: 50px;
  width: max-content;
  height: 50px;
}
@media screen and (max-width: 768px) {
  .tarifs__tabs li {
    width: 100%;
  }
}
.tarifs__tabs li a {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 10px 10px 30px 10px;
  color: #FF4600;
  text-decoration: none;
  background: linear-gradient(rgb(34, 34, 34), rgb(4, 0, 27));
  padding: 10px;
  border-radius: 50px;
  font-weight: 700;
  cursor: pointer;
}
.tarifs__tabs li.active {
  border: 1px solid #FF4600;
  box-shadow: 0px 0px 10px 4px #FF4600;
  position: relative;
  z-index: 2;
}
.tarifs__list {
  display: grid;
  gap: 20px;
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.tarifs__list-item {
  background: linear-gradient(rgb(34, 34, 34), rgb(4, 0, 27));
  padding: 10px 10px 30px 10px;
  border-radius: 15px;
  border: 1px solid #FF4600;
  box-shadow: 0px 0px 10px 4px #FF4600;
  position: absolute;
  z-index: -1;
  opacity: 0;
  top: 0;
  right: 0;
  width: 100%;
  transition: 0.3s ease-in-out;
}
.tarifs__list-item.active {
  display: grid;
  position: static;
  z-index: 0;
  opacity: 1;
}
.tarifs__list-item:nth-of-type(2) {
  background: linear-gradient(rgb(34, 34, 34), rgb(4, 0, 27));
}
.tarifs__list-item:nth-of-type(3) {
  background: linear-gradient(rgb(34, 34, 34), rgb(4, 0, 27));
}
.tarifs__list-item:last-of-type {
  background: linear-gradient(rgb(34, 34, 34), rgb(4, 0, 27));
  color: white;
}

.about {
  background-color: black;
  padding: 60px 0;
  border-bottom: 1px solid white;
}
.about__wrapper {
  display: grid;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .about__wrapper {
    display: flex;
  }
}
.about__text {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .about__text {
    max-width: 50%;
  }
}
.about__text .base-text {
  text-transform: none;
}
.about .about-second {
  display: grid;
  align-items: stretch;
}
.about__advantages {
  color: #FF4600;
  font-weight: 700;
  display: grid;
  gap: 10px;
  align-content: center;
}
.about .blockquote {
  margin: 0;
  padding: 5px;
}

.reasons {
  padding: 60px 0;
  border-bottom: 1px solid white;
}
.reasons .secondary-title {
  color: #FF4600;
}
.reasons__list {
  display: grid;
  gap: 10px;
}
.reasons__wrapper {
  display: grid;
  justify-content: center;
}

.reviews .swiper-wrapper {
  margin: 0;
  padding: 20px 0;
}
.reviews .swiper-wrapper li,
.reviews .swiper-wrapper p {
  font-family: "Rubick", "Arial", sans-serif;
  text-transform: none;
  font-weight: 400;
}
.reviews .swiper-wrapper h4 {
  font-weight: 700;
  color: #FF4600;
}
.reviews .swiper-pagination {
  bottom: 0px;
}
.reviews .swiper-pagination-bullet {
  background-color: #FF4600;
  width: 10px;
  height: 10px;
  border-radius: 0;
}

.cost__line {
  background: white;
  width: 100%;
  height: 5px;
  border-radius: 50px;
  box-shadow: 0 0px 2px 2px #FF4600;
  margin-bottom: 10px;
}
.cost__line--active {
  background: #FF4600;
  width: 0;
  transition: 0.3s ease-in-out;
}
.cost__steps {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cost__steps #step-back {
  background: none;
  border: none;
  outline: none;
  background-color: #FF4600;
  padding: 10px;
  border-radius: 50px;
  border: 1px solid white;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}
.cost .primary-button {
  background: none;
  border: none;
  outline: none;
  background-color: #FF4600;
  padding: 20px;
  border-radius: 50px;
  border: 1px solid white;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  max-width: 50%;
  justify-self: flex-end;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  margin: 0 auto;
}

.cost-form {
  display: flex;
  flex-direction: column;
}

.swiper-cost {
  display: grid;
  touch-action: none;
}

.form-slide {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: linear-gradient(rgb(34, 34, 34), rgb(4, 0, 27));
  border-radius: 20px;
  min-height: 100%;
  justify-content: center;
  text-align: center;
  gap: 20px;
}
.form-slide h3 {
  color: #FF4600;
  margin: 0;
  margin-bottom: 10px;
}
.form-slide .chooses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 12px;
  gap: 20px;
}
@media screen and (min-width: 1024px) {
  .form-slide {
    padding: 20px;
  }
}

.choose-label {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: relative;
  min-width: 120px;
  box-shadow: 0px 0px 10px 4px #cdcdcd;
  text-align: center;
  border-radius: 15px;
}
.choose-label-contact::before {
  content: "";
  position: absolute;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.choose-label-whatsapp::before {
  background-image: url("./../../assets/images/whatsapp.svg");
}
.choose-label-telegram::before {
  background-image: url("./../../assets/images/telegram.svg");
}
.choose-label-viber::before {
  width: 25px;
  height: 25px;
  background-image: url("./../../assets/images/viber.svg");
}
.choose-label input {
  top: 0;
  left: 0;
  position: absolute;
  appearance: none;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
}
.choose-label input:hover, .choose-label input:focus {
  box-shadow: 0px 0px 10px 4px #FF4600;
}
.choose-label input:checked {
  box-shadow: 0px 0px 10px 4px #FF4600;
  border-radius: 15px;
}

.rangebar-container {
  justify-content: center;
  align-items: center;
}

.rangebar-label {
  flex-grow: 1;
}
.rangebar-label input {
  width: 100%;
}
.rangebar-label input:hover, .rangebar-label input:focus {
  box-shadow: 0px 0px 10px 4px #FF4600;
}
.rangebar-label input:active {
  box-shadow: 0px 0px 10px 4px #FF4600;
}

.rangebar-cost {
  border: none;
  position: relative;
}
.rangebar-cost input {
  padding: 10px;
  max-width: 150px;
  background: transparent;
  color: #FF4600;
  font-weight: 700;
  font-size: 20px;
  width: min-content;
  border: none;
  outline: none;
  padding-right: 20px;
}
.rangebar-cost::after {
  content: "₽";
  position: absolute;
  right: 50px;
  width: 10px;
  height: 100%;
  top: 50%;
  font-size: 20px;
  font-weight: 700;
  transform: translateY(-50%);
  display: grid;
  align-items: center;
}
.rangebar-cost:hover, .rangebar-cost:focus {
  box-shadow: 0px 0px 10px 4px #FF4600;
}
.rangebar-cost:active {
  box-shadow: 0px 0px 10px 4px #FF4600;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 12px;
  gap: 20px;
  flex-direction: column;
}

.input-range {
  appearance: none;
  width: 200px;
  height: 12px;
  border: 3px solid #FF4600;
  border-radius: 9999px;
  background: linear-gradient(90deg, #FF4600 30%, #4b4747 30%);
  cursor: pointer;
}

/* Thumb: for Chrome, Safari, Edge */
.input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 9999px;
  background: #FF4600;
  box-shadow: none;
}

/* Thumb: for Firefox */
.input-range::-moz-range-thumb {
  border: none;
  width: 24px;
  height: 24px;
  border-radius: 9999px;
  background: #ff4c1a;
  box-shadow: none;
}

.choose-label .contact-input {
  border: none;
  padding: 10px;
  border-radius: 15px;
}

.form-slide .primary-button {
  background: none;
  border: none;
  outline: none;
  background-color: #FF4600;
  padding: 20px;
  border-radius: 50px;
  border: 1px solid white;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  justify-self: flex-end;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  margin: 0 auto;
}