@use 'variables'as var;
@use 'mixins'as mix;

.container {
  max-width: var.$desktop;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: var.$primary-font;
  @include mix.gradient(rgb(7, 6, 6), rgb(8, 5, 26));
  text-transform: uppercase;
  color: var.$white;
  font-weight: 400;

  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('./../assets/images/bg-header.svg');
    filter: drop-shadow(2px 4px 6px var.$black);
  }

  &.overflow {
    overflow: hidden;
  }
}

p {
  font-family: var.$secondary-font;
}

.list-style-none {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}