@use 'variables'as var;

.cost {
  &__line {
    background: var.$white;
    width: 100%;
    height: 5px;
    border-radius: 50px;
    box-shadow: 0 0px 2px 2px var.$orange;
    margin-bottom: 10px;

    &--active {
      background: var.$orange;
      width: 0;
      transition: 0.3s ease-in-out;
    }
  }

  .primary-button {
    background: none;
    border: none;
    outline: none;
    background-color: var.$orange;
    padding: 20px;
    border-radius: 50px;
    border: 1px solid var.$white;
    font-weight: 700;
    color: var.$white;
    text-transform: uppercase;
    max-width: 50%;
    justify-self: flex-end;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    margin: 0 auto;
  }
}

.cost-form {
  display: flex;
  flex-direction: column;
}

.swiper-cost {
  display: grid;
}

.form-slide {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: linear-gradient(rgb(34, 34, 34), rgb(4, 0, 27));
  border-radius: 20px;
  min-height: 100%;
  justify-content: center;
  text-align: center;
  gap: 20px;

  & h3 {
    color: var.$orange;
    margin: 0;
    margin-bottom: 10px;
  }

  & .chooses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 12px;
    gap: 20px;
  }

  @media screen and (min-width: var.$desktop-min) {
    padding: 20px;
  }
}

.choose-label {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
  min-width: 120px;
  box-shadow: 0px 0px 10px 4px #cdcdcd;
  text-align: center;
  border-radius: 5px;

  & input {
    top: 0;
    left: 0;
    position: absolute;
    appearance: none;
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
  }

  & input:hover,
  & input:focus {
    box-shadow: 0px 0px 10px 4px var.$orange;
  }

  & input:checked {
    box-shadow: 0px 0px 10px 4px var.$orange;
    z-index: 10;
  }
}

.rangebar-container {
  justify-content: center;
  align-items: center;
}

.rangebar-label {
  flex-grow: 1;

  & input {
    width: 100%;

    &:hover,
    &:focus {
      box-shadow: 0px 0px 10px 4px var.$orange;
    }

    &:active {
      box-shadow: 0px 0px 10px 4px var.$orange;
    }
  }
}

.rangebar-cost {
  border: none;
  position: relative;

  input {
    padding: 10px;
    max-width: 150px;
    background: transparent;
    color: var.$orange;
    font-weight: 700;
    font-size: 20px;
    width: min-content;
    border: none;
    outline: none;
    padding-right: 20px;
  }

  &::after {
    content: '₽';
    position: absolute;
    right: 50px;
    width: 10px;
    height: 100%;
    top: 50%;
    font-size: 20px;
    font-weight: 700;
    transform: translateY(-50%);
    display: grid;
    align-items: center;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 0px 10px 4px var.$orange;
  }

  &:active {
    box-shadow: 0px 0px 10px 4px var.$orange;
  }
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 12px;
  gap: 20px;
  flex-direction: column;
}

.input-range {
  appearance: none;
  width: 200px;
  height: 12px;
  border: 3px solid var.$orange;
  border-radius: 9999px;
  background: linear-gradient(90deg, var.$orange 30%, #4b4747 30%);
  cursor: pointer;
}

/* Thumb: for Chrome, Safari, Edge */
.input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 9999px;
  background: var.$orange;
  box-shadow: none;
}

/* Thumb: for Firefox */
.input-range::-moz-range-thumb {
  border: none;
  width: 24px;
  height: 24px;
  border-radius: 9999px;
  background: #ff4c1a;
  box-shadow: none;
}