.advantages {
  padding: 60px 0;
  border-bottom: 1px solid $white;
  clip-path: polygon(0% 0%, 100% 18%, 100% 83%, 0% 97%);
  position: relative;

  @media screen and (max-width: $tablet) {
    clip-path: polygon(0% 0%, 100% 18%, 100% 87%, 0% 97%);
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 150px;
    background-color: $white;
    clip-path: polygon(0 35%, 100% 0, 100% 100%, 0% 100%);
    bottom: -90px;
  }

  ul {
    display: grid;
    gap: 10px;
    text-transform: none;
  }

  .secondary-title {
    color: $orange;
  }
}