.tarifs {
  padding: 60px 0;
  border-bottom: 1px solid $white;

  .secondary-title {
    color: $orange;
  }

  .base-text {
    text-transform: none;
  }

  &__list-inner {
    li {
      text-transform: none;
    }
  }

  &__list {
    display: grid;
    gap: 20px;
    list-style-type: none;
  }

  &__list-item {
    background: linear-gradient(rgb(38, 0, 64), rgb(24, 2, 132));
    padding: 10px 10px 30px 10px;
    border-radius: 15px;
    border: 1px solid $orange;
    box-shadow: 0px 0px 10px 4px $orange;

    &:first-of-type {
      background: gray;
      border: none;
      box-shadow: none;
    }

    &:nth-of-type(2) {
      background: linear-gradient(rgb(0, 91, 219), rgb(24, 2, 132));
      border: none;
      box-shadow: none;
    }

    &:nth-of-type(3) {
      background: linear-gradient(rgb(0, 219, 172), rgb(1, 43, 20));
      border: none;
      box-shadow: none;
    }

    &:last-of-type {
      background: linear-gradient(rgba(255, 106, 1), rgba(255, 0, 0, 1));
      color: $white;
    }
  }
}