@use "variables" as var;
@use "mixins" as mix;

.advantages {
  padding: 60px 0;
  border-bottom: 1px solid var.$white;
  clip-path: polygon(0% 0%, 100% 18%, 100% 83%, 0% 97%);
  position: relative;

  @media screen and (max-width: var.$tablet) {
    clip-path: polygon(0% 0%, 100% 18%, 100% 87%, 0% 97%);
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 150px;
    background-color: var.$white;
    clip-path: polygon(0 35%, 100% 0, 100% 100%, 0% 100%);
    bottom: -90px;
  }

  ul {
    display: grid;
    gap: 10px;
    text-transform: none;
    list-style: none;
  }

  .secondary-title {
    color: var.$orange;
  }
}

.advantages-list {
  padding: 0;
  margin: 0;
  min-height: 220px;

  @media screen and (min-width: 1024px) {
    min-height: 120px;
  }
}

.advantages-list__item {
  opacity: 0; /* Скрываем элементы */
  transition: opacity 0.5s ease; /* Плавный переход для появления */
}

.advantages-list__item.visible {
  opacity: 1; /* Появление элемента */
}

.title-animation {
  opacity: 0; /* Скрываем элемент */
  transform: translateY(20px); /* Сдвигаем элемент вниз */
  transition: opacity 1s ease, transform 1s ease; /* Плавный переход */
}

.title-animation.visible {
  opacity: 1; /* Делаем элемент видимым */
  transform: translateY(0); /* Возвращаем элемент на место */
}
